.up {
  padding: 28px 0;
  border-radius: 25px;
  width: 600px;
  height: 534px;
  background: #fff;
  margin: 0 auto;
  &__title {
    font-weight: 500;
    font-size: 28px;
    color: #000;
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 40px;
  }
  &__btn {
    background: #ffb36c;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    margin-bottom: 15px;
  }
  &__label {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
    text-align: left;
    width: 439px;
  }
  &__input {
    outline: none;
    background: #e4e4e4;
    border-radius: 10px;
    width: 440px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #888888;
    padding: 17px 0 16px 20px;
    border: none;
    margin-bottom: 30px;
  }
  &__input2 {
    outline: none;
    background: #e4e4e4;
    border-radius: 10px;
    width: 440px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    // color: #ababab;
    color: #888888;
    padding: 17px 0 16px 20px;
    border: none;
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__parag {
    font-weight: 500;
    font-size: 10px;
    color: #000;
  }
  &__span {
    text-decoration: underline;
    font-weight: 500;
    font-size: 10px;
    color: #000;
    cursor: pointer;
  }
  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  &__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e4e4e4 inset;
    -webkit-text-fill-color: #888888;
    transition: background-color 5000s ease-in-out;
  }
}
