$white-color: #fff;

.hero {
  padding: 50px 0 100px 0;
  background-image: url(../../img/back-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    color: $white-color;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-bottom: 35px;
  }
  &__toWrapp {
    height: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
  }
  &__wrapper {
    // position: relative;
    // left: 140px;
    display: flex;
    align-items: flex-start;
    height: auto;
    margin-bottom: 48px;
  }
  &__bar {
    width: 3px;
    height: 80px;
    background-color: $white-color;
    margin-right: 25px;
  }
  &__parag {
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    // text-align: right;
    color: $white-color;
    width: 137px;
  }
  &__paragg {
    font-weight: 500;
    font-size: 10px;
    color: $white-color;
  }
  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__input {
    outline: none;
    border-radius: 10px;
    border: none;
    // width: 585px;
    max-width: 585px;
    width: 60%;
    height: 15px;
    padding-bottom: 4px;
    padding-top: 4px;

    background: #d9d9d9;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    padding-left: 10px;

    font-weight: 500;
    font-size: 6px;
    color: #878787;
  }
  &__btn {
    border: none;
    border-left: 2px solid #000;
    border-radius: 0 10px 10px 0;
    width: 16px;
    // height: 42px;
    background: #ffb36c;

    padding: 3px 4px;
    height: 15px;


  }
  &__form {
    // margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .hero {
    &__title {
      margin-bottom: 40px;
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    &__title {
      margin-bottom: 80px;
      font-size: 40px;
    }
    &__wrapper {
      position: relative;
      left: 172px;
      display: flex;
      align-items: flex-start;
      height: 149px;
    }
    &__parag {
      font-weight: 500;
      font-size: 24px;
      text-align: right;
      color: $white-color;
      width: 345px;
    }
    &__paragg {
      font-weight: 500;
      font-size: 24px;
      color: $white-color;
    }
    &__bar {
      width: 3px;
      height: 100%;
      background-color: $white-color;
      margin: 0 52px;
    }
  }
}

.btnSearch {
  height: 9px;
  width: 9px;
}