$white-color: #fff;

.hero {
  text-align: center;
  padding: 50px 0 100px 0;
  background-image: url(../../img/back-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    color: $white-color;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-bottom: 35px;
  }
  &__toWrapp {
    height: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    // gap: 20px;
  }
  &__wrapper {
    // position: relative;
    // left: 140px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    margin-bottom: 48px;
  }
  &__bar {
    width: 3px;
    height: 80px;
    background-color: $white-color;
    margin-right: 25px;
  }
  &__parag {
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    // text-align: right;
    color: $white-color;
    width: 137px;
    margin-bottom: 20px;
  }
  &__paragg {
    font-weight: 500;
    font-size: 10px;
    color: $white-color;
  }
  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__input {
    outline: none;
    border-radius: 10px;
    border: none;
    // width: 585px;
    max-width: 585px;
    width: 50%;
    height: 20px;
    padding-bottom: 4px;
    padding-top: 4px;

    background: #d9d9d9;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    padding-left: 10px;

    font-weight: 500;
    font-size: 6px;
    color: #878787;
  }
  &__btn {
    border: none;
    border-left: 2px solid #000;
    border-radius: 0 10px 10px 0;
    width: 21px;
    // height: 42px;
    background: #ffb36c;

    padding: 3px 4px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form {
    // margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 40px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 20px;
    }
    &__date {
      align-items: flex-start;
    }
    &__paragg {
      font-size: 14px;
    }
    &__parag {
      font-size: 14px;
      width: 172px;
      text-align: right;
      margin-bottom: 0;
    }
    &__bar {
      height: 110px;
      margin: 0;
    }
    &__wrapper {
      position: relative;
      left: -20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 34px;
    }
    &__btn {
      width: 28px;
      height: 27px;
    }
    &__input {
      width: 402px;
      height: 27px;
      font-size: 10px;
      padding-left: 19px;
      padding-top: 8px;
      padding-bottom: 9px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 100px;
    &__title {
      margin-bottom: 80px;
      // margin-top: 0;
      font-size: 40px;
    }
    &__wrapper {
      position: relative;
      left: -64px;
      display: flex;
      gap: 52px;
      align-items: flex-start;
      height: 149px;
      margin-bottom: 80px;
    }
    &__parag {
      font-weight: 500;
      font-size: 24px;
      text-align: right;
      color: $white-color;
      width: 345px;
    }
    &__paragg {
      font-weight: 500;
      font-size: 24px;
      color: $white-color;
    }
    &__bar {
      width: 3px;
      height: 100%;
      background-color: $white-color;
      margin: 0 52px;
    }
    &__btn {
      width: 45px;
      height: 42px;
    }
    &__input {
      width: 625px;
      height: 42px;
      font-size: 14px;
      padding-left: 29px;
      padding-top: 13px;
      padding-bottom: 12px;
    }
  }
}

// .btnSearch {
//   height: 9px;
//   width: 9px;
// }

.btnSearch {
  font-size: 9px;
}

@media (min-width: 768px) {
  .btnSearch {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .btnSearch {
    font-size: 25px;
  }
}
