$background: #e8e8e8;
$btn: #ffb36c;
$text: #000;

.cards {
  padding: 60px 0 80px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 90px;
  }
  &__item {
    padding: 15px 30px 20px;
    width: 320px;
    height: 430px;
    border-radius: 20px;
    background-color: $background;
  }
  &__btn {
    border-radius: 10px;
    padding: 8px 18px;
    background: $btn;
    border: none;
    font-weight: 500;
    font-size: 10px;
    color: $text;
    margin-bottom: 15px;
    margin-right: 23px;
    margin-left: 23px;
  }
  &__wrapperCity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    color: $text;
  }
  &__time {
    font-weight: 500;
    font-size: 24px;
    color: $text;
    margin: 15px 0 10px;
  }
  &__wrapperDay {
    display: flex;
    gap: 13px;
    height: 17px;
    // margin-bottom: 22px;
  }
  &__bar {
    border: 1px solid #000;
    height: 100%;
  }
  &__wrapperCentral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__deegr {
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 32px;
    color: $text;
  }
  &__img {
    width: 145px;
    height: 145px;
  }
  &__wrapperIcons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
