.info {
  padding: 30px 100px;
  border-radius: 25px;
  width: 550px;
//   height: 240px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title {
    font-weight: 500;
    font-size: 28px;
    color: #000;
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-bottom: 40px;
  }
  &__out {
    background: #ffb36c;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin-bottom: 5px;
  }
  //   &__wrapper {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: flex-start;
  //   }
  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;}
}
