$btn-color: #ffb36c;
$text-color: #000;

.header {
  background: #fff;
  padding: 12px;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 111px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
  &__sign {
    background-color: $btn-color;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
  }
  &__profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 1px;
  }
  &__item--link {
    color: $text-color;
    font-family: "Montserrat Alternates", sans-serif;;
  }
  &__mainwrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__authoriz {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}
