$btn-color: #ffb36c;

.header {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 111px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
  &__sign {
    background-color: $btn-color;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
  }
  &__profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
  }
}
