/* body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 10px;
  outline: red solid 2px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 10px;
    max-width: 654px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 10px;
    max-width: 1160px;
  } 
} 
